/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/
/.DS_Store
/BarFightSimulator/target/
/BarFightSimulator/nbproject/
/BarFightSimulator/.DS_Store
/laskarit/.DS_Store
/dokumentaatio/.DS_Store
